div#top-banner {
    width: 100%;
    background-color: #05386B;
    color: #f0ffff;
}

div#top-banner-content {
    margin: 0 auto;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size:1.3em;
    font-weight: bold;
    display: inline-block;
}

div#top-banner-links {
    padding: 10px;
    float: right;
    display: inline-block;
}

div#footer_CR{
    width: 100%;
    background-color: #05386B;
    color: #f0ffff;
}

div#footer-content {
    margin: 0 auto;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size:0.8em;
    display: inline-block;
}

.title {
    margin: 10px;
}

.heading{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
}

.project-content{
    display: inline-block;
}

.project-title{
    display: inline-block;
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}

.fa {
    background-color: #379683;
    color: #f0ffff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

img#spyre_img {
    width: 80px;
    margin-right: 10px;
}

img#EnE-image {
    width: 80px;
    margin-right: 10px;
}

* {box-sizing:border-box}

@media (max-width:800px) {
    div#top-banner-links {
        float: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #05386B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Verdana, Geneva, sans-serif;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span#nav-button{
    font-size:30px;
    cursor:pointer;
    display: block;
    padding-left: 20px;
    padding-bottom: 5px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


